*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.conteiner1{
    width: 100%;
    height: 70px;
}
.asist1{
    padding: 30px 150px;
}
.text1{
    color: grey;
    font-size: 18px;
}
.icon1{
    width: 15px;
    height: 15px;
}
.text2{
    color: grey;
    font-size: 20px;
}
.text3{
    font-size: 20px;
    font-weight: 700;
}
.btn1{
    color: white;
    background-color: #3bb96d;
    border-radius: 15px;
    padding: 10px 30px;
    border: none;
}
.flex1{
    display: flex;
    justify-content: space-around;
}
.flex2{
    display: flex;
    gap: 10px;
}
a{
    text-decoration: none;
    color: #02233b;
    font-size: 20px;
}
.conteiner2{
    width: 100%;
    height: 100px;
}
.asist2{
    padding: 30px 150px;
}
.flex3{
    display: flex;
    justify-content: center;
    gap: 150px;
}
ul{
     list-style: none;
    display: flex;
    gap: 40px;
}
.text4{
    margin-left: 120px;
    margin-top: 40px;
}
.text5{
    color: #02233b;
    font-weight: 600;
}
.conteiner3{
    width: 100%;
    height: 700px;
}
.asist3{
    padding: 30px 150px;
}
.bg1{
    width: 700px;
    height: 550px;
    background-color: #3bb96d;
}
.bg2{
     width: 700px;
    height: 550px;
    background-color: #27c8da;
}
.flex4{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.text6{
    color: white;
    font-weight: 650;
    font-size: 40px;
}
.asist01{
     padding: 40px 50px;
}
.text7{
    color: white;
    line-height: 30px;
    font-size: 20px;
    margin-top: 50px;
}
.text8{
    color: white;
    font-size: 20px;
    margin-top: 50px;
}
.text9{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
}
.btn2{
    color: #3bb96d;
    background-color: white;
    padding: 10px 50px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
}
.img1{
    position: relative;
    left: 310px;
    bottom: 380px;
    width: 350px;
    height: 300px;
}